
.panel-default {
	padding: 60px;
}

.content {
    opacity: 0;    
}
.loaded {
	opacity: 1;
	transition: opacity 1s ease-in;
}

.input-group {
	margin-bottom: 15px;
}

.clear-complete {
	margin-bottom: 15px;
}